@use '../../../../../styles/scss/changeable.module.scss' as *;
@use '../../../../../styles/scss/mixins.module.scss' as *;
@use "../../../../../styles/scss/templates.module.scss" as *;

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.filterContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.filterButton {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background: white;
    border-radius: 6px;

    &.active {
        background: #0070f3;
        color: white;
        border-color: #0070f3;
    }
}

.customDateInputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.customDateInputs label {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #333;
    font-size: 18px;
    user-select: none;
}

.customDateInputs input[type="date"] {
    padding: 8px 12px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
    background-color: #fff;
}

.customDateInputs input[type="date"]:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.customDateInputs input[type="date"]:hover {
    border-color: #7ab1ff;
}
