@use '../../../styles/scss/changeable.module.scss' as *;
@use '../../../styles/scss/mixins.module.scss' as *;
@use "../../../styles/scss/templates.module.scss" as *;

.toHome {
    @extend %flex-center;
    margin: 2rem auto;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    background: inherit;
    transform: skew(-20deg);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background: $colobg;
    box-shadow: 0 5px 0 $grey;
    transition-duration: 1s;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;

    &:hover {
        background: $to-main-hover-bg;
    }

    &:active {
        top: 3px;
        box-shadow: 0 2px 0 $form-btn-bg-activ-box-shadow;
    }
}
