@use '../../styles/scss/changeable.module.scss' as *;
@use '../../styles/scss/mixins.module.scss' as *;
@use "../../styles/scss/templates.module.scss" as *;

.menuOne {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
    border: 5px solid $colobg;
    box-shadow: $color-box-shadow;
    border-radius: 1rem;
    background: $menu-color-bg;
    margin: 3rem auto;
    padding: 1rem;
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 140px;
    cursor: pointer;
    padding-top: 15px;
}

.menuImg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.menuName {
    font-size: 1.2rem;
    max-width: 15rem;
    text-align: center;
    text-transform: lowercase;
    margin-top: 10px;
}

.active {
    border: 10px solid $grey;
}

@media (max-width: 550px) {
    .active {
        border: 6px solid $grey;
    }    
    
    .menuOne {
        padding: 1rem;
        gap: 1rem;
    }

    .menuImg {
        width: 80px;
        height: 80px;
    }

    .menuName {
        font-size: 1rem;
    }

}