@use '../../styles/scss/changeable.module.scss' as *;
@use '../../styles/scss/mixins.module.scss' as *;
@use "../../styles/scss/templates.module.scss" as *;

.tabHeaders {
    display: flex;
    border-bottom: 3px solid #ccc;
}

.cartBtns{
    display: flex;
    background-color: #e7d49e;
    width: 100%;
}

.cartBtn{
    display: flex;
}

.tabButton {
    font-size: 20px;
    @extend %tabButton;
}

.tabButton:hover {
    color: #0073e6;
}

.active {
    border-bottom: 3px solid #0073e6;
    font-weight: bold;
}


.tabBtn{
    width: 50%;
    margin: 0 auto 2rem;

}

.continueShoppingButton {
    @extend %navbuttom;
    width: 100%;
}

.myBadgeWrapper{
    margin: -5px 0 0px 2px;
}