@use '../../../styles/scss/changeable.module.scss' as *;
@use '../../../styles/scss/mixins.module.scss' as *;
@use "../../../styles/scss/templates.module.scss" as *;

.tabsContainer {
    @extend %tabsContainer;
}

.tabHeaders {
    @extend %tabHeaders;
}

.tabButton {
    @extend %tabButton;
}

.active {
    @extend %tabButtonActive;
}

.tabContent {
    @extend %tabContent;
    background-color: #e4f0df;
    min-height: 300px;
}
.managerTab {
    background-color: inherit;
}
