@use '../../../styles/scss/changeable.module.scss' as *;
@use '../../../styles/scss/mixins.module.scss' as *;
@use "../../../styles/scss/templates.module.scss" as *;


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 0 0 8px 8px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s;
}

.suggestion:hover {
    background: #f9f9f9;
}

.loading {
    margin-top: 8px;
    font-size: 14px;
    color: #777;
}