@use '../styles/scss/changeable.module.scss' as *;
@use '../styles/scss/mixins.module.scss' as *;
@use "../styles/scss/templates.module.scss" as *;


.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}









