@use '../../styles/scss/changeable.module.scss' as *;
@use '../../styles/scss/mixins.module.scss' as *;
@use "../../styles/scss/templates.module.scss" as *;

.pageTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    margin-top: 10px;
    background-color: rgb(189, 183, 107, .3);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.menuBlock{
    width: 40%;
}

.imgBlock {
    position: relative;
    width: 90%;
    height: 100%; 
}

.topImage {
    border-radius: 5px; 
}

@media (max-width: 970px) {
    .pageTop {
        flex-direction: column;
        align-items: center;
        height: 600px;
    }
    .menuBlock {
        width: 100%;
        order: 2;  
    }
}