@use '../../../styles/scss/changeable.module.scss' as *;
@use '../../../styles/scss/mixins.module.scss' as *;
@use "../../../styles/scss/templates.module.scss" as *;

.ordersWrapper {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.title {
    @extend %cartTitle;
}

.loading,
.empty {
    text-align: center;
    color: #888;
    font-size: 18px;
}

.orderCard {
    border: 3px solid $form-bg;
    border-radius: 12px;
    margin-bottom: 24px;
    padding: 20px;
    background-color: #f5ec9d;
    box-shadow: 3px 3px 30px $title-text-shadow;
}

.orderNumber {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.orderStatus,
.orderDate,
.orderTotal {
    font-size: 16px;
    margin: 4px 0;
    color: #555;
}

.itemsTitle {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.itemsWrapper {
    margin-top: 10px;
}

.item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 15px;
}