@use '../../styles/scss/changeable.module.scss' as *;
@use '../../styles/scss/mixins.module.scss' as *;
@use "../../styles/scss/templates.module.scss" as *;

@font-face {
    font-family: 'Volja';
    src: url('../../../public/fonts/volia/Volja-Regular.eot');
    src: local('Volja-Regular'),
        url('../../../public/fonts/volia/Volja-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../public/fonts/volia/Volja-Regular.woff2') format('woff2'),
        url('../../../public/fonts/volia/Volja-Regular.woff') format('woff'),
        url('../../../public/fonts/volia/Volja-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header{
    width: 100%;
    background: $colobg;
    box-shadow: $color-box-shadow;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 15px;
}

.headerBlock{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: self-start;
    padding: 10px;
}

.logoBlock{
    grid-column: 1;
    grid-row: 2/1;
    width: 10rem;
}
.logoImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.titleBlock{
    grid-column: 2/5;
    grid-row: 2/1;
    text-align: center;
    font-family: $fontfamily-title;
    margin-left: 120px;
}

.title{
    max-height: 80px;
    font-family: 'Volja';
    @include adaptiv-font(110, 54);
}

.subtitle{
    @include adaptiv-font(45, 24);
}

.dataBlock{
    grid-column: 5/7;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    font-family: $fontfamily-data;
}

.socialBlock{
    grid-column: 5/7;
    grid-row: 1;
    @extend %flex-center;
    gap: 2rem;
    margin-top: 50px;
}

.city,
.address,
.tel{
    display: flex;
    align-items: center;
    @include adaptiv-font(32, 16);
}
.city{
    margin-right: 8px;
}

.telImg{
    margin: 3px 1rem;
    border-radius: 10px;
}

.icon{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 0 $grey;
    top: 0;
    transition-duration: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        top: 2px;
        box-shadow: 0 1px 0 $grey;
    }
}

.iconTel{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 0 5px 0 10px;
}

.btn{
    background-color: inherit;
}

.authBlock{
    grid-column: 5/7;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 90px;
    font-family: $fontfamily-data;
}

@media (max-width: 1150px){
    .titleBlock {
        margin-left: 20px;   
    }
}

@media (max-width: 1125px) {
    .dataBlock {
        grid-column: 5/7;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .socialBlock {
        grid-column: 1/4;
        grid-row: 2;
        margin: 10px;  
    }
    .authBlock {
        grid-column: 4/7;
        grid-row: 2;
        margin: 10px;  
    }
}

@media (max-width: 580px) {
    .headerBlock {
        align-items: center;  
    }

    .dataBlock {
        grid-column: 1/7;
        grid-row: 2;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .socialBlock {
        grid-column: 1/7;
        grid-row: 3;
        margin: 10px;
    }

    .authBlock {
        grid-column: 1/7;
        grid-row: 4;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .dataBlock {
        flex-direction: column;
    }
    .city {
        margin-right: 0;   
    }
}