@use '../scss/changeable.module.scss' as *;
@use '../scss/mixins.module.scss' as *;
@use "../scss/templates.module.scss" as *;

@font-face {
    font-family: 'Pacifico';
    src: url('../../../public/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    background-color: $colorbg-body;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    overflow: visible;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../../../public/logo/fon.png);
        background-position: center 30%;
        background-size: 22%;
        opacity: 0.05;
        z-index: -1;
    }
}





