@use '../scss/changeable.module.scss' as *;
@use '../scss/mixins.module.scss' as *;
@use "../scss/templates.module.scss" as *;

html, body{
    height: 100%;
}

.body {
    display: flex;
        flex-direction: column;
        min-height: 100vh;
}

.main {
    background-color: $colorbg-body;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    overflow: visible;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../../../public/logo/fon.png);
        background-position: center 30%;
        // background-repeat: no-repeat repeat;
        background-size: 22%;
        opacity: 0.05;
        z-index: -1;
    }
}



