@use '../../../styles/scss/changeable.module.scss' as *;
@use '../../../styles/scss/mixins.module.scss' as *;
@use "../../../styles/scss/templates.module.scss" as *;

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: $overlay-bg;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    color: $whitesmoke;
}

.active{
    background-color: #0367a6;
}